/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.numInput {
  width: 40px;
}

#sortBar {
    padding: 6px;
}

#infoBar {
    padding: 15px;
}

.filterHeader {
  font-size: 24px; 
  margin-buttom: 10px;
  background-color: #FFED61;
  color: #5D2EFF;
}

.navHeader {
  font-size: 24px;
}

.filterBody {
  /*background-color: #4FE8AA;
  color: #5D2EFF;*/
}

.navbar {
  background-color: #FFED61;
}

#innerNav {
  background-color: #d9edf7;
  border-color: #bce8f1;
}

#eventList {

}

.eventLink {
    color: white;
}

.eventImg {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.eventListBox {
  background-color: #E82909;
  margin-top: 10px;
  margin-bottom: 10px;
}

.eventListUL {
  list-style-type: none;
  margin-left: -30px;
}

.whenButtons button.btn {
    padding: 8px;
}

.fbdrop {
    padding: 6px;
}