<div class="container">

  <div class="navbar">
    <a href="#" class="navbar-brand">3vent</a>
    <p class="navbar-text pull-right">
      <span ng-show="username">
	Logged in as {{username}}
      </span>
      <span ng-show="!username">
	<button id="login" ng-click="login()">Log In</button>
      </span>    
    </p>
  </div>
  <div class="row">
    <!-- filters -->
    <div class="col-lg-3">
      <div class="panel panel-info">
	<div class="panel-heading">
	  <span class="navHeader">Who</span>
	</div>
	
	Number of people invited:
	<br/>

        <slider floor="1" ceiling="400" ng-model-low="minInvited" ng-model-high="maxInvited"></slider>

	
	Number of people attending:
	<br/>

        <slider floor="1" ceiling="400" ng-model-low="minAttending" ng-model-high="maxAttending"></slider>
      </div>

      <div class="panel panel-info">
	<div class="panel-heading">
	  <span class="navHeader">What</span>
	</div>
	Search for text:
	<input type="text" ng-model="textSearchQuery"></input>
      </div>

      <div class="panel panel-info">
	<div class="panel-heading">
	  <span class="navHeader">Where</span>
	</div>
	  Search for a location:
	  <input type="text" ng-model="locationSearchQuery"></input>
      </div>

	<div class="panel panel-info">
	  <div class="panel-heading">
	    <span class="navHeader">When</span>
	  </div>
	  <div class="btn-group whenButtons">
            <button type="button" class="btn btn-primary" ng-model="whenRadio" btn-radio="'Past'">Past</button>
            <button type="button" class="btn btn-primary" ng-model="whenRadio" btn-radio="'Present'">Present</button>
	    <button type="button" class="btn btn-primary" ng-model="whenRadio" btn-radio="'Future'">Future</button>
	  </div>
	</div>

    </div>

    <!-- list display -->
    <div class="col-lg-9" id="eventList">

      <div class="navbar" id="innerNav">
	<div class="col-lg-2 pull-right" id="infoBar">
	  <span class="pull-right" ng-show="filteredVar.length">Found: {{filteredVar.length}} </span>
	  <span class="pull-right" ng-show="!events.length && username && pullingFB">
	    Loading...
	  </span>
	  <span class="pull-right" ng-show="!events.length && !username">
	  Please log in.
	  </span>
	  <span class="pull-right" ng-show="!events.length && username && !pullingFB && triedFB">
	  Woops! we had an error because Facebook's API is testy. please refresh, it'll usually work from now on.
	  </span>
	</div>
	<div class="col-lg-5 pull-right" id="sortBar">
	  Sort By: 
	  <div class="btn-group sortButtons">
            <button type="button" class="btn btn-primary" ng-model="sortChoice" btn-radio="'date'">Date</button>
            <button type="button" class="btn btn-primary" ng-model="sortChoice" btn-radio="'invited'">Invited</button>
	    <button type="button" class="btn btn-primary" ng-model="sortChoice" btn-radio="'attending'">Attending</button>
	  </div>
	</div>
	<div ng-show="username" class="col-lg-5 btn-group pull-right fbdrop">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	      {{loadingMessage}} <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li ng-show="pullingFB">Facebook refresh in progress</li>
	    <li><a href="javascript:void(0)" ng-show="!pullingFB" ng-click="repullFB()">Refresh events from Facebook</a></li>
	  </ul>
	</div>





      </div>
      <ul class="eventListUL">    
	<li ng-repeat="event in (filteredVar = (events | filter:filters) | orderBy:sortFunc | startFrom:(currentPage-1)*numPerPage | limitTo:numPerPage)">
	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <a class="eventLink" href="http://facebook.com/events/{{event.eid}}"><h4>{{event.name}}</h4></a>
	    </div>
	      <img src="{{event.pic}}" class="pull-right eventImg"></img>

	      <ul class="eventInner">
		<li><strong>Starts:</strong> {{event.pretty_start}}</li>
		<li><strong>Location:</strong> {{event.pretty_location}}
	      </ul>
	    <br/>
	      {{event.description.slice(0,200)+ "..."}} 
	      

	  </div>
	</li>
      </ul>
    </div>
  </div>
  <div class="row filterBody">
    <!-- <pagination num-pages="numEvents()" current-page="currentPage" max-size="maxSize" boundary-links="true"></div> -->
    <pager num-pages="numPages()" current-page="currentPage"></pager>
  </div>
</div>
