<div class="container">
    <div class="pull-right">  
      <button id="login" ng-click="login()">Log In</button>
    </div>

  <div class="row">
    <h1>3vent</h1>

  </div>
  <div class="row">
    <!-- filters -->
    <div class="col-lg-3 ">
      <div class="panel panel-info">
	<div class="panel-heading">
	  <h3>Who</h3>
	</div>
	
	Number of people invited:
	<br/>
	Min: <input type="text" ng-model="minInvited" class="numInput"></input>  
	Max: <input type="text" ng-model="maxInvited" class="numInput"></input>  

	
	Number of people attending:
	<br/>
	Min: <input type="text" ng-model="minAttending" class="numInput"></input>  
	Max: <input type="text" ng-model="maxAttending" class="numInput"></input>  
      </div>

      <div class="panel panel-info">
	<div class="panel-heading">
	  <h3>What</h3>
	</div>
	Search for text:
	<input type="text" ng-model="textSearchQuery"></input>
      </div>

      <div class="panel panel-info">
	<div class="panel-heading">
	  <h3>Where</h3>
	</div>
	  Search for a location:
	  <input type="text" ng-model="locationSearchQuery"></input>
      </div>

	<div class="panel panel-info">
	  <div class="panel-heading">
	    <h3>When</h3>
	  </div>
	  starts after:
	  <datepicker ng-model="dtStarts" show-weeks="true" starting-day="1" max="'2015-06-22'"></datepicker>
	  
	  ends before:
	  <datepicker ng-model="dtEnds" show-weeks="true" starting-day="1" max="'2015-06-22'"></datepicker>

	</div>

    </div>

    <!-- list display -->
    <div class="col-lg-9" id="eventList">
      <ul class="eventListUL">    
	<li ng-repeat="event in events | filter:filters | startFrom:(currentPage-1)*numPerPage | limitTo:numPerPage | orderBy:sortFunc">
	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h4>{{event.name}}</h4>
	    </div>
	      <img src="{{event.pic}}" class="pull-right eventImg"></img>

	      <ul class="eventInner">
		<li><strong>Starts:</strong> {{event.pretty_start}}</li>
		<li><strong>Location:</strong> {{event.pretty_location}}
	      </ul>
	    <br/>
	      {{event.description.slice(0,200)+ "..."}} 

	  </div>
	</li>
      </ul>
    </div>
  </div>
  <div class="row filterBody">
    <!-- <pagination num-pages="numEvents()" current-page="currentPage" max-size="maxSize" boundary-links="true"></div> -->
    <pager num-pages="numPages()" current-page="currentPage"></pager>
  </div>
</div>
